.corpo{
    background-color: rgb(0, 119, 36);
    color: rgb(136, 151, 0));
    text-align: center;
    border: 100px; 
    border-style: groove;
    border-color: rgb(153, 0, 0);
}

p{
    color: darkred;
    font-size: 20px;
}

#link:{
    color:silver;
    text-decoration: none;

}

#link:hover{
    color:goldenrod;
    font-size: 15px;
}

#imagem-recuperação{
    border-style:dotted;
    border:10px;
    border-color:greenyellow;
    width:400px;
    higth:400px;
}